.navbar{
    height: auto;
    background-color: #6305dd;
}
.navbar-brand{
    font-size: 1.8rem;
    
}

.navbar-toggler{
    box-shadow: none !important;
    border: none !important;
    background-color: white;
    width: 3rem;
    height: 2.8rem;
} 

.navbar-toggler-icon{
    height: 2.7rem;
    width: 2.5rem;
    position: relative;
    right: 0.5rem;
    bottom: 0.2rem;
}


.nav-link{
    font-size: 1.2rem;
}



@media (min-width: 280px) and (max-width: 450px){
    .navbar-brand{
        font-size: 1.3rem;
    }
}
