<footer class="mt-5 pt-5 bg-dark text-light footer">  
    <div class="container">
        <div class="last d-md-flex align-items-center">
            <div class="side_des mt-4 mx-5">
                <p>Hi! I am Hardik Grover. I am a pre final year Computer Science and Engineering Student at Guru Nanak Dev University,Amritsar. I am a Competitive Programming and Web Development Enthusiast. I am always eager to learn new things and be better version of myself.</p>
                <div class="email">
                    <i class="fas fa-envelope-open-text"></i>
                    <a class="lead link" href="mailto:email">hardikgrover75@gmail.com</a>
                </div>
            </div>

            

            <div class="quick_links mx-5">
                <h2 class="mb-4 mt-4">Quick Links</h2>
                <ul>
                    <li class="my-2"><i class="fas fa-caret-right"></i><a href="{% url 'index' %}" >Home</a></li>
                    <li class="my-2"><i class="fas fa-caret-right"></i><a href="{% url 'all_posts' %}" >All Posts</a></li>
                    <li class="d-flex"><i class="fas fa-caret-right mt-1 mt-sm-1"></i><a href="">My Portfolio</a></li>
                </ul>
            </div>  
        </div>
    </div>
</footer> 