.card-img-top{
    height: 200px;
    
}


.card{
    cursor: pointer;
    transition: all 0.3s;
}

.card:hover{
    transform: scale(110%);
}


.nav_e{
    height: 6rem;
    background-color: blue;
    color: white;
    font-size: 2rem;

}

.text_h{
    color: white;
}

.anchor{
    text-decoration: none;
    color: black;
}

.anchor:hover{
    color: black;
}
